\[blue\]
\[orange\]
*.log
*.aux
*.out
template/tex/exercise_EXERCISENUMBER.pdf
*.o
Makefile
moc_*
exercise_02/code/Lizard
exercise_03/code/**/Texture
.qmake.stash
*.zip
exercise_03/code/Demo04/Lizard
exercise_03/code/tangram/Tangram
attachment
Perspective
exercise_05/code/FlightSimulator/FlightSimulator
